.busqueda{
    display: flex;
}
.error{
    color: red;
}
.resaltar{
    color: blue;
}
.oculto{
    display: none;
}
th{
    background-color: gray;
    color: black;
}
table,td,th{
    border: 1px solid #333;
}
#poketitulo{
    background-color: black;
}